<!Doctype>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>
  <h1>Se escogió de manera aleatoria el siguiente cuadro:</h1>

  {% block content%}
  {% for autor in autores %}
    <ul>
      <li> {{autor}}</li>
    </ul>
  {% endfor %}
  <h1>Se te recomiendan los siguientes cuadros</h1>
    {% for r in recomendaciones %}
    <ul>
      <li> {{r}}</li>
    </ul>
  {% endfor %}

  {% endblock %}







</body>
