<!Doctype>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>

<div class="container">
    <div class=" container text-center" style=" margin-top:70px; ">
     <div class="row " >
    <div class="col-sm-3">
      <div class="card" style="width: 15rem; ">
        <a href="#" class="btn btn-default">
           
          <img src="https://www.nationalgeographic.com.es/medio/2019/04/10/04-gioconda-mona-lisa-leonardo-da-vinci_45541385_1500x1982.jpg" 
          class="card-img-top" style=" width:100px; height:100px ">
          <div class="card-body">
            <h5 class="card-title " > Corriente 1 </h5>
          </div>
        </a>
      </div>
    </div>
  <div class="col-sm-3">
    <div class="card" style="width: 15rem;">
      <a href="#" class="btn btn-default">
        
        <img src="https://www.nationalgeographic.com.es/medio/2019/04/10/04-gioconda-mona-lisa-leonardo-da-vinci_45541385_1500x1982.jpg" 
        class="card-img-top" style=" width:100px; height:100px ">
        <div class="card-body">
          <h5 class="card-title "> Corriente 2 </h5>
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card" style="width: 15rem;">
      <a href="#" class="btn btn-default">
          
        <img src="https://www.nationalgeographic.com.es/medio/2019/04/10/04-gioconda-mona-lisa-leonardo-da-vinci_45541385_1500x1982.jpg" 
        class="card-img-top" style=" width:100px; height:100px ">
        <div class="card-body">
          <h5 class="card-title "> Corriente 3</h5>
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card" style="width: 15rem;">
      <a href="#" class="btn btn-default">
         
        <img src="https://www.nationalgeographic.com.es/medio/2019/04/10/04-gioconda-mona-lisa-leonardo-da-vinci_45541385_1500x1982.jpg" 
        class="card-img-top" style=" width:100px; height:100px ">
        <div class="card-body">
          <h5 class="card-title "> Corriente 4</h5>
        </div>
      </a>
    </div>
  </div>
</div>


<div class="row" style="margin-top:30px; margin-bottom:70px;">
    <div class="col-md-3">
      <div class="card" style="width: 15rem;">
        <a href="#" class="btn btn-default">
            
          <img src="https://www.nationalgeographic.com.es/medio/2019/04/10/04-gioconda-mona-lisa-leonardo-da-vinci_45541385_1500x1982.jpg" 
          class="card-img-top" style=" width:100px; height:100px ">
          <div class="card-body">
            <h5 class="card-title "> Corriente 5 </h5>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 15rem;">
        <a href="#" class="btn btn-default">
            
          <img src="https://www.nationalgeographic.com.es/medio/2019/04/10/04-gioconda-mona-lisa-leonardo-da-vinci_45541385_1500x1982.jpg" 
          class="card-img-top" style=" width:100px; height:100px ">
          <div class="card-body">
            <h5 class="card-title "> Corriente 6 </h5>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 15rem;">
        <a href="#" class="btn btn-default">
           
          <img src="https://www.nationalgeographic.com.es/medio/2019/04/10/04-gioconda-mona-lisa-leonardo-da-vinci_45541385_1500x1982.jpg" 
          class="card-img-top " style=" width:100px; height:100px ">
          <div class="card-body">
            <h5 class="card-title "> Corriente 7 </h5>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 15rem;">
        <a href="#" class="btn btn-default">
        
          <img src=" https://www.nationalgeographic.com.es/medio/2019/04/10/04-gioconda-mona-lisa-leonardo-da-vinci_45541385_1500x1982.jpg" 
          class="card-img-top" style=" width:100px; height:100px ">
          <div class="card-body">
            <h5 class="card-title "> corriete 8</h5>
          </div>
        </a>
      </div>
    </div>
</div>
</div>
</div>
</body>